<a class="table_button red-border" style="display: inline; float: right;" onclick="javascript: deleteElement('<%= @object_hash[:name] %>')">X</a>
<h<%= @object_hash[:size]%> class="header-text" id="<%= @object_hash[:name] %>_text">
  <%= @object_hash[:content]%>
</h<%= @object_hash[:size]%>>

<script type="text/javascript">
  new Ajax.InPlaceEditor('<%= @object_hash[:name]%>_text','<%= @object_hash[:location]%>/edit_header',
                            {callback: function(form,value){
                               var param = 'elem=' + <%= @object_hash[:name]%>.id;
                                param += '&header=' + encodeURIComponent(value);
                                return param;
                            },
                            highlightcolor: "#eeffee"});
</script>