<h4>Fixture Repository</h4>
<ul class="fixtures">
  <% @fixtures.each do |key, val|
      str_key = key.to_s
     %>
    <li>
      <a href="#" id="<%= str_key %>" class="dark-blue-background" onClick="javascript:displayWidget('<%= str_key %>_list'); return false;"><%= str_key %></a>
      <ul class="nested" id="<%= str_key %>_list" style="display: none;">
        <% val.each do |k,v| %>
        <li name="<%= k.to_s%>">
          <a href="#" class="draggable dark-green-background" id="<%= str_key %>:<%= k%>"><%= k.to_s%>()</a>
        </li>
        <% end %>
      </ul>
    </li>
  <%end%>
</ul>

<script type="text/javascript">
    var fixtures = document.getElementsByClassName('draggable');
    for(var i = 0; i < fixtures.length; i++){
        new Draggable(fixtures[i].id, {ghosting:true, revert:true});
    }
</script>