<h4>Fixture Repository</h4>
<ul class="fixtures">
  <% @fixtures.each do |key, val|
      str_key = key.to_s
     %>
    <li>
      <a href="#" id="<%= str_key %>" class="dark-blue-background" onClick="javascript:displayFixtureList('<%= str_key %>_list')"><%= str_key %></a>
      <ul class="nested" id="<%= str_key %>_list">
        <% val.each do |k,v| %>
        <li name="<%= k.to_s%>"><a href="#" class="dark-green-background"><%= k.to_s%>()</a></li>
        <% end %>
      </ul>
    </li>
  <%end%>
</ul>