<a class="table_button red-border" style="display: inline; float: right;" onclick="javascript: deleteElement('<%= @object_hash[:name] %>')">X</a>
<p id="<%= @object_hash[:name] %>_text" class="text-element">
  <%= @object_hash[:content]%>
</p>

<script type="text/javascript">
  new Ajax.InPlaceEditor('<%= @object_hash[:name]%>_text','<%= @object_hash[:location]%>/edit_text',
                            {callback: function(form,value){
                               var param = 'elem=' + <%= @object_hash[:name]%>.id;
                                param += '&text=' + encodeURIComponent(value);
                                return param;
                            },
                            rows: 10,
                            cols: 85,
                            highlightcolor: "#eeffee"});
</script>