
<html>
    <head>
        <title>Pimp your tests</title>
        <style type="text/css">
            body {
                padding: 0;
                margin: 0;
                background: #FFF;
                /*font: 100.01% / 1.3 Verdana, Arial, sans-serif;*/
				font-family: Verdana, Arial, sans-serif;
				font-size: 80%;
            }


            h1 {
                font: lighter 200% "Trebuchet MS", Arial sans-serif;
                color: #208BE1
            }

            h1, p {
                margin: 0;
                padding: 10px 20px
            }

      
</style>
      <script type="text/javascript" src="/scripts/pimp_scripts.js"></script>
       <script type="text/javascript" src="/scripts/prototype.js"></script>
      <script type="text/javascript" src="/scripts/scriptaculous.js"></script>
      <script type="text/javascript" src="/scripts/dragdrop.js"></script>
      <script type="text/javascript" src="/scripts/effects.js"></script>
      <script type="text/javascript" src="/scripts/controls.js"></script>
       <link rel="StyleSheet" href="/stylesheets/active_sheet.css" type="text/css" media="screen"/>
       <script type="text/javascript">
         function deleteElement(elem){
                //create an Ajax POST request that will delete the element from the server
                //and then update the entire content area
                var params = {element: elem};
                var url = "\/<%= @location %>\/delete_element";
                new Ajax.Updater('content',url,{
                    method: 'post',
                    parameters: params,
                    onLoading: showLoad,
                    onComplete: hideLoad
                });
            }
       </script>

	
    </head>

<body>

<div id="header">
<h2 id="title" class="white-text">Pimp Those Tests!</h2>

    <div id="menu">
        <ul id="nav">
            <li><a onclick="javascript: setBackground(this,'page_name_div'); displayWidget('page_name_div');return false;">Add Page</a></li>
            <li><a>Run All</a></li>
            <li><a>Config</a></li>
            <li><a>Variables</a></li>
            <li><a>Properties</a></li>
        </ul>
    </div>
     
  </div>

    <!-- This div contains the form for collecting the new page name -->
      <div id="page_name_div" style="display: none;">
        <form name="page_name_form" id="page_name_form" method="post" action="/<%= @location%>/add_page">
          <label for="page_name">Page Name:</label><input type="text" name="page_name" value=""/>
          <input type="submit" value="Add Page"/>
        </form>
      </div>

    <div class="left">
        <%= @page_list %>
        <%= fixtures %>
		<form action="/fixture" method="post" accept-charset="utf-8" enctype='multipart/form-data'>
			<input type="file" name="file_info" id='userfile'>
			<input type="hidden" name="filename" value="" id="remotename" onChange="file_onchange()">
			<input type="submit" name="btn_file" value="Upload" id="btn_file">
			
		</form>
    </div>
    <div id="breadcrumb">
        <%= breadcrumb %>
    </div> 
    <div id="content" class="content">
        <%= @html %>
    </div>
    <script type="text/javascript">
        function addNewFixture(elem, drop, event){
                        //get the class and method
                        var info = elem.id.split("\:");
                        var params = {fixture: info[0], method: info[1], position: "last"}; //will always be last for now.break
                        var url = "\/<%= @location %>\/add_fixture";
                        new Ajax.Updater('content',url,
                                             {
                                              method: 'post',
                                              parameters: params,
                                              onLoading: showLoad,
                                              onComplete: hideLoad,
                                              insertion: 'bottom'
                                             }
                                );
                    }
      
      Droppables.add('content', {hoverclass: 'hovering', accept: 'draggable', onDrop: addNewFixture});
    </script>
</body>

</html>
